doctype html
html(lang="en")
    head
        title= GraphicStandardHtml
        body
            h1  HTML graphic standards
            div
                h2 Text elements
                p   Back door, huh? Good idea. It's only a few guards. This shouldn't be too much trouble. Well, it only takes one to sound the alarm. Then we'll do it real quiet-like. Oh! Oh, my. Uh, Princess Leia! Quiet. I'm afraid our furry companion has gone and done something rather rash. Oh, no. There goes our surprise attack. Look! Over there! Stop him!
                    br
                    a(href="#" target="_blank" rel="no follow") Test Link
                    br
                    abbr(title="abbr") Abbreviation
                    br
                    b Bold Text
                    br
                    bdi مرحبا bdi element
                    br
                    bdo(dir="rtl") I say Hello
                    br
                    cite Yoda cite
                    br
                    code npm install
                    br
                    data(value="1") true
                    br
                    del(cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/acronym" datettime="2017-10-14T12:00:00.001-04:00") acronym
                    br
                    dfn World Wide Web
                    br
                    em Em italic tag
                    br
                    i italic tag
