doctype html
html(lang="en")
    head
        title= GraphicStandardHtml
        body
            h1  HTML graphic standards
            div
                h2 Text elements
                p   Back door, huh? Good idea. It's only a few guards. This shouldn't be too much trouble. Well, it only takes one to sound the alarm. Then we'll do it real quiet-like. Oh! Oh, my. Uh, Princess Leia! Quiet. I'm afraid our furry companion has gone and done something rather rash. Oh, no. There goes our surprise attack. Look! Over there! Stop him!
                    br
                    a(href="#" target="_blank" rel="no follow") Test Link
                    br
                    abbr(title="abbr") Abbreviation
                    br
                    b Bold Text
                    br
                    bdi مرحبا bdi element
                    br
                    bdo(dir="rtl") I say Hello
                    br
                    cite Yoda cite
                    br
                    code npm install
                    br
                    data(value="1") true
                    br
                    del(cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/acronym" datettime="2017-10-14T12:00:00.001-04:00") acronym
                    br
                    dfn World Wide Web
                    br
                    em Em italic tag
                    br
                    i italic tag
                    br
                    ins abbr html element
                    br
                    kbd Ctrl + S
                    br
                    mark To mark
                    br
                    q(cite="http://wikipedia.com") I'll be back
                    br
                    s striked text
                    br
                    samp sample computer output
                    br
                    small text smalled
                    br
                    span spanned text
                    br
                    strong hard text
                    br
                    sub text displayed lower
                    br
                    sup text diplayed higher
                    br
                    time(datetime="2017-04-29T19:00") 19:00
                    br
                    u underlined text
                    br
                    var a math variable
                    br
                    ruby
                        漢
                        rp (
                        rt Kan
                        rp )
                    ruby
                        rb 旧
                        rb 金
                        rb 山
                        rt jiù
                        rt jīn
                        rt shān
                        rtc San Francisco
